header {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background-color: #030108; */
  background-color: #f5cac3;
  background-image: url("https://www.transparenttextures.com/patterns/white-plaster.png");
  margin-top: 120px;
  padding-top: 50px;
}

/* header img {
  border: 5px solid orange;
  } */
  
  header h2 {
    font-size: 24px;
    display: flex;
    color: #8C2155;
  }