header {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #030108; */
  background-color:#4056A1;
  background-image: url("https://www.transparenttextures.com/patterns/white-plaster.png");
  margin-top: 120px;
  padding-top: 50px;
}

header img {
  border: 5px solid orange;
  }
  
  header h2 {
    font-size: 24px;
    display: flex;
  }