.logo {
  font-family: 'Bungee';
  font-size: 20px;
  font-weight: 600;
}

nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
}


.nav-right {
  display: flex;
  justify-content: right;
  /* text-align: center; */
}

.fa-angle-double-down {
  color: orange;
}
