.logo {
  font-family: 'Bungee';
  font-size: 20px;
  font-weight: 600;
}

nav {
  height: 120px;
  width: 100%;
  background-color: #313865;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  /* z-index: -1;
  position: relative; */
  overflow: hidden;
  position: fixed;
  top: 0;
  
}


.nav-right {
  display: flex;
  justify-content: right;
}

.fa-angle-double-down {
  color: orange;
}
