.tweeter-profile {
  font-size: 24px;
  font-family: 'Source Sans Pro', 'sans-serif';
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tweets footer i:hover {
  color: #f6bd60;
  cursor: pointer;
}

.tweets footer i {
  margin-right: 10px;
}



  #tweets-container {
    background-color: azure;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 10px;
  }
  

  .tweets:hover {
    box-shadow: 5px 0.5px orange;
  }
  

  .tweets footer {
    font-size: 18px;
    border-top: 2px solid;
    display: flex;
    justify-content: space-between;
  }
  
  .tweets h2 {
  font-size: 24px;
  }
  
  .tweets span {
    text-align: right;
  }



 .tweet-post{
  border: 4px solid navy;
  background-color: white;
  padding: 1em;
  margin: 1em 0;
}

.tweet-post:hover{
  box-shadow: 6px 6px #20a1e6;
}

.tweet-post header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9em;
  font-weight: 600;
}

.user-profile{
  display: flex;
  align-items: center;
}

.user-profile img{
  width: 50px;
  margin-right: 0.5em;
}

.tweeter-name{
  color: dodgerblue;
  padding-right: 0.5em;
}

.tweet-text{
  border-bottom: 4px solid navy;
  padding: 1em 0.5em;
  font-size: 0.9em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tweet-post footer{
  display: flex;
  justify-content: space-between;
  padding: 0.7em;
  font-size: 0.6em;
  font-weight: 600;
}

.tweet-post footer i{
  padding: 0 4px;
}

.tweet-post footer i:hover{
  color: darkorange;
  cursor: pointer; 
}